@import '../../../node_modules/@angular/material/theming';
@include mat-core();

// Custom palette based on the UAE primary color
$mat-portal-demo: (
  50 : #f1eeeb,
  100 : #dbd6cc,
  200 : #c4baaa,
  300 : #ac9e88,
  400 : #9a8a6f,
  500 : #e60000, //#887555,
  600 : #806d4e,
  700 : #756244,
  800 : #6b583b,
  900 : #58452a,
  A100 : #ffd7a1,
  A200 : #ffc16e,
  A400 : #ffab3b,
  A700 : #ffa022,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($mat-portal-demo);
$custom-theme-accent: mat-palette($mat-amber, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);
